*{
    margin:0;
    padding:0;
}
body{
    background-color:blanchedalmond;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.2rem;
}
.container{
    background-color: white;
    min-height:50vh;
    width:40vh;
    border-radius:10px;
    padding: 2rem;
}
.form{
    margin-top:1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:2.2rem;
}
.amount{
    display:flex;
    flex-direction: column;
}
.amount input,select{
     border:none;
    outline:none;
}
.amount input{
    border: 2px solid gray;
    height:2rem;
    font-size: 1.1rem;
    border-radius: 10px;
    padding-left: 0.5rem;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.273);
}
.selectCurr{
    display: flex;
    justify-content: space-between;
}

.fromCurr,.toCurr{
    display: flex;
    border: 2px solid gray;
    height:40px;
    border-radius: 5px;
    gap:5px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.273);
}

.msg{
    font-size: 1.2rem;
    font-weight: bold;
}
.btn{
    height:3rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border:none;
    background-color: blueviolet;
    color: white;
    font-weight: 700;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.649);
}